.Cell {
    height: 100px;
    width: 100px;
    border-radius: 1px;
    background-color: #263238;
    transition: background-color 0.7s ease;
}

.Cell-lit {
    background-color: #6deeff;
}

@media screen and (max-width: 480px) {
    .Cell {
        height: 65px;
        width: 65px;
    }
}
